<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form_doctor/form_doctor.css') }}">
    <title>Ver Doctor</title>
</head>
<body>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" value="{{ usuario[0] }}" readonly><br>

        <label for="email">Correo Electrónico:</label>
        <input type="text" id="email" value="{{ usuario[1] }}" readonly><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" value="{{ usuario[2] }}" readonly><br>
    </form>
</body>
</html>
