<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Doctores</title>
</head>
<body>
    <h2>Listado de Doctores</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de Oficio</th>
                <th>Email</th>
                <th>Código</th>
                <th>Institución</th>
                <th>Fecha de Nacimiento</th>
                <th>Fecha de Ingreso</th>
                <th>Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor[0] }}</td>
                <td>{{ doctor[1] }}</td>
                <td>{{ doctor[2] }}</td>
                <td>{{ doctor[3] }}</td>
                <td>{{ doctor[4] }}</td>
                <td>{{ doctor[5] }}</td>
                <td>{{ doctor[6] }}</td>
                <td>{{ doctor[7] }}</td>
                <td>{{ doctor[8] }}</td>
                <td>{{ doctor[9] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>