<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispensador</title>

    <!-- Material Design 3 (Material You) CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@material/web@latest/dist/material.web.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='datos_dispensador/datos_dispensador.css') }}">
</head>
<body>

    <div class="container">
        <h1>PANEL DE CONTROL DEL DISPENSADOR</h1>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Distancia</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody id="dispensadores-tbody">
                {% for dispensador in dispensadores %}
                <tr>
                    <td data-th="Usuario">{{ dispensador.tarjeta_id }}</td>
                    <td data-th="Distancia">{{ dispensador.distancia }}</td>
                    <td data-th="Estado">{{ dispensador.estado }}</td>
                    <td data-th="Fecha">{{ dispensador.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('paginaDoctor') }}">
            <button>Volver</button>
        </a>
    </div>

    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="{{ url_for('static', filename='datos_dispensador/datos_dispensador.js') }}"></script>
</body>
</html>